<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js "></script>
        <style>
            .box{
                height: auto;
                width: 80%;
                margin: 5%;
                border: 2px solid black;
                padding: 2%;
                border-radius: 25px;
            }
            .in{
                display: block;
                margin: 1%;
            }
            .h1{
                text-align: center;
                margin-bottom: 2%;
            }
        </style>
    </head>
    <body>
        <div ng-app="" class="box">
            <h2 class="h1">Form Created Using Angular Data Binding </h2>
            <hr/>
           <div class="in">
            First Name : <input type="text" ng-model="name" placeholder="Enter First Name"/>  
           </div>
           <div class="in">
                Last Name : <input type="text" ng-model="lname" placeholder="Enter Last Name"/>
           </div>
            <h2 ng-bind="'Your Name : ' + name + ' ' + lname | uppercase "></h2> 

            <div class="in">
                Enter First Number : <input type="number" ng-model="a" value=" "/>
            </div>
            <div class="in">
                Enter Second Number : <input type="number" ng-model="b" value=" "/>
            </div>
            <h2 ng-bind="'A + b = ' + (a + b)"></h2>
        </div>
    </body>
</html>